* {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
}

.banner {
    height: 120px;
    background-image: url(../images/backgrd.png);
    text-align: center;
    color: yellow;
    text-shadow: 5px 5px 3px red;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 120px;
}

.nav {
    height: 40px;
    text-align: center;
    line-height: 38px;
    background-color: #00b32d;
    margin-top: 2px;
    margin-bottom: 2px;
}

.container {
    display: flex;
    flex-direction: row;
}

.left,
.right {
    width: 15%;
    min-height: 650px;
    background-color: #00ffff;
}

.content {
    width: 70%;
    background-color: #ffff80;
}

.content>div {
    display: flex;
    flex-direction: row;
}

.content>div div {
    width: 50%;
    height: 320px;
    border: 1px solid gray;
    background-color: lightgray;
    margin: 5px;
    padding: 20px;
    text-align: justify;
    overflow: auto;
    border-radius: 50px 0px;
}

.footer {
    height: 80px;
    background-color: purple;
    text-align: center;
    color: #ffff80;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    width: 120px;
    margin-right: 5px;
    border: 1px solid #0000ff;
    position: relative;
    background-color: #004e9b;
    border-radius: 15px;
}

.submenu {
    display: none;
    position: absolute;
}

.menu li:hover .submenu {
    display: block;
}

ul a {
    text-decoration: none;
    color: #ffffff;
}

ul a:hover {
    color: red;
    font-weight: bold;
}

.right>div {
    width: 80%;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 40px;
    text-align: center;
    line-height: 150px;
    margin: 10px;
}